:root
{
    --mainColor: #80eeb0; // #70f6b9 // #004422
    --bgColor: #f5f6fa;
    --fontColorFirm: black;
    --fontColorLight: grey;
    --fontColorFirmGreen: #004422;
    --fontColorGreenInverted: #4ed164;
    --mainColorDark: #004422;
    --checkBoxColor: #ebcdb5;
    --inputBgColor: #112734;

    --fontSizeSmall: 14px;
    --fontSizeMedium: 20px;
    --fontSizeBig: 26px;
    --fontSizeLarge: 30px;
    --fontSizeLargest: 40px;
}

@media all and (min-height: 1000px)
{
    :root
    {
        /*--fontSizeSmaller: 14px;*/
        --fontSizeSmall: 20px;
        --fontSizeMedium: 25px;
        --fontSizeBig: 30px;
        --fontSizeLarge: 40px;
        --fontSizeLargest: 50px;
    }
}

body
{
    background: var(--bgColor);
    overflow: hidden;
}

$subColorGrey: #e3e4dd;
$subColorLightGrey: #c4ccce;
$bgColor: #f5f6fa;
$fontColorLight: grey;
$fontColorFirm: black;
$mainColor: #80eeb0;
$appleGreen: #4ed164;
$amadoRed: #f6a89e;
$darkGreen: #004422;
$fontSizeInput: 16px;

.rootContent
{
    /*border: 1px solid #36383F;*/
    /*border-radius: 20px;*/
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--bgColor);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar
{
    background: var(--bgColor);
}

::-webkit-scrollbar-track
{
    background: var(--bgColor);
    width: var(--fontSizeSmall);
}

::-webkit-scrollbar-thumb
{
    background: var(--mainColor);
}

.commonInput
{
    border: none;
    outline: none;
    // background: $subColorGrey; //var(--subColorGrey);
    // color: black;
    display: block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;
    font-size: $fontSizeInput;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.commonInput:focus
{
    border: none;
    outline: none;
}

.commonInput:disabled
{
    color: grey;
}

.pushButton
{
    border: none;
}

.pushButton_main
{
    background: var(--mainColor);
    color: white;
}

.pushButton:hover
{
    cursor: pointer;
}

.pushButton:disabled
{
    opacity: 0.5;
}

.pushButtonAlt
{
    color: $amadoRed;
    font-weight: bold;
    border: none;
    background: inherit;
}

.pushButtonAlt:hover
{
    cursor: pointer;
    text-decoration: underline;
    //background: var(--mainColor);
    //color: white;
}

.pushButtonAlt:disabled
{
    opacity: 0.5;
}

.emptyComment
{
    font-weight: bold;
    color: var(--fontColorFirm);
    text-align: center;
    white-space: nowrap;
    //justify-self: center;
}

.slick-track
{
    height: 100%;
}

.slick-track .slick-slide
{
    height: 100%;
}

.slick-slider
{
    height: 100%;
}

.slick-list
{
    height: 100%;
}

.slick-slide > div
{
    height: 100%;
}

.emojiFont
{
    font-family: 'Noto Emoji', sans-serif;
}

.reactSelectTags__control
{
    background-color: var(--inputBgColor) !important;
    border: none !important;
}

.reactSelectTags__control--is-focused
{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.reactSelectTags--is-disabled .reactSelectTags__multi-value__remove
{
    visibility: hidden;
}

.reactSelectTags__multi-value
{
    background-color: $appleGreen !important;
    font-size: var(--fontSizeSmall);
    padding: 0 8px 0 8px;
    border-radius: var(--fontSizeSmall) !important;
    color: white;
    pointer-events: all !important;
}

.reactSelectTags__multi-value:hover
{
    cursor: pointer;
}

.reactSelectTags__multi-value__label
{
    color: white !important;
    font-weight: bold;
    text-wrap: nowrap;
}

.reactSelectTags__indicator
{
    color: var(--fontColorFirm) !important;
}

.reactSelectTags__indicator:hover
{
    cursor: pointer !important;
}

.reactSelectTags__menu
{
    z-index: 3 !important;
    background-color: var(--inputBgColor) !important;
    color: var(--fontColorFirm);
    pointer-events: all !important;
}

// .react-selectTags__option
// {
//     pointer-events: all !important;
// }

// .react-selectTags__option:hover
// {
//     cursor: pointer !important;
//     background-color: $mainColor !important;
//     color: white !important;
// }

.reactSelectTags__option--is-focused
{
    background-color: $mainColor !important;
    color: white !important;
    pointer-events: all !important;
}

.reactSelectTags__option--is-focused:hover
{
    cursor: pointer !important;
}

.reactSelectTags__input
{
    color: var(--fontColorFirm) !important;
}